.btn{
    background-color: #fff;
    color: #00291c;
    font-weight: 100;
    width: 100%;
    border: 1px solid #00291c;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    transition: all .15s linear;
}

.btn:hover:not([disabled]){
    background-color: #00291c;
    color: #fff;
}

.correct{
    background-color: #036444;
    color: #fff;
    border-color: #036444;
}
.incorrect{
    background-color: #e36060;
    color: #fff;
    border-color: #e36060;
}

.quiz-question{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    height: 500px;
    width: 500px;
    padding: 30px;
    background-color: white;
    color: black;
    border-radius: 12px;
}

.quiz-category{
    width: fit-content;
    font-weight: 600;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    color:brown;
}

.div-quiz-category{
    display: flex;
    gap: 20px;

}

.quiz-question-value span{
    font-weight: 600;
}

.quiz-question-value{
    padding: 4px;
}

